<!DOCTYPE html>
<html ng-app="app">
<head>
	<title>Options</title>
</head>
<body ng-controller="controller">
	<div id="status"></div>
	<table>
		<tr>
			<td>Name</td>
			<td><input type="text" id="name" ng-model="name"></td>
		</tr>
		<tr>
			<td>Email</td>
			<td><input type="email" id="email" ng-model="email"></td>
		</tr>
		<tr>
			<td>Phone</td>
			<td><input type="text" id="phone" ng-model="phone"></td>
		</tr>
		<tr>
			<td>Today's date</td>
			<td><input type="date" id="today" ng-model="today"></td>
		</tr>
		<tr>
			<td>Tomorrow's date</td>
			<td><input type="date" id="tomorrow" ng-model="tomorrow"></td>
		</tr>
		<tr>
			<td colspan="2" align="center">
				<button type="button" ng-click="save()">Save</button>
			</td>
		</tr>
	</table>
	<script type="text/javascript" src="angular.min.js"></script>
	<script type="text/javascript" src="options.js"></script>
</body>
</html>